<body class="landing-page">
  <div class="login-form">
    <h2 id="logo-land">CinchCoin</h2>
    <form action="/login" method="POST" id="form">
      <div id="username">
        <input class="userpass"type="text" name="username" placeholder="username">
      </div>
      <div id="password">
        <input class="userpass" type="password" name="password" placeholder="password">
      </div>
      <div id="btn-login">
        <button id="landing-btn">sign in</button>
      </div>
        <p class="account-message">
          Don't have an account? <a href="/signup">Sign up</a>
        </p>
    </form>
  </div>
</body>
