<body class="market-news">
    <div>
    <h3 id="logo-home">CinchCoin </h3>
  </div>
  {{!-- Home Header --}}
  <div class="home-header">
    <a href="/useraccount">
      <img id="goldcircle" src="/images/goldcircle.png"> 
    </a>   
   
    <a href="https://www.google.com/">
      <img id="searchicon" src="/images/searchicon.png">
    </a>   
  </div>  

<div class="home-container"> 
  <div class="crypt">  
{{!-- Home Menu --}}
  <div id= "coin-home"class="menu">
    <a href="/Market">Market</a>
    <a href="/News">News</a>
    <a href="/bitcoin">My Coins</a>
  </div>


<div id="market-container">
 <script type="text/javascript" src="https://widget.coinlore.com/widgets/coinlore-list-widget.js"></script><div class="coinlore-list-widget" data-mcap="0" data-mcurrency="usd" data-top="30" data-cwidth="" data-bcolor="#011F39" data-coincolor="rgb(52, 226, 174)" data-pricecolor="#ffffff" style="width: 100%;"></div>

</div>


  
</body>