 {{!-- <h1>Total Price: <span class="total-price"> </span></h1>
<form action="#">
  <div class="coin-total">
      <img class="coin-size" src="/images/bitcoinLogo.png"/> 
      <input class="coin-input" type="number">
       <button class = "btn-delete" onclick= "delete-button"> Delete </button>
  </div>
   <div class="coin-total">
       <img class="coin-size"src="/images/ethereumLogo.jpeg"/>
      <input class="coin-input" type="number">
       <button class = "btn-delete" onclick= "delete-button"> Delete </button>
  </div>
   <div class="coin-total">
       <img class="coin-size" src="/images/litecoinLogo.png"/> 
      <input class="coin-input" type="number">
       <button class = "btn-delete" onclick= "delete-button"> Delete </button>
  </div>
   <div class="coin-total">
        <img class="coin-size" src="/images/xrp.png"/>
      <input class="coin-input" type="number">
       <button class = "btn-delete" onclick= "delete-button"> Delete </button>
  </div>
  <input class ="btn-success" type="" onclick=sumProducts()> Sum </input>
</form>


<body class="total-page">

  <h1>Total Price: <span class="total-price"> </span></h1>

<div class = "total-container">
  <div class="coins">

{{!-- Bitcoin Total --}}
    <div id="coin-total">
      <span>
     <img class="coin-size" src="/images/bitcoinLogo.png"> 
    
      <form >
       <input class="coin-input" type="number" 
       name="quantity">
     
    
      </form>
   
    <button class = "btn-delete" onclick= "delete-button"> Delete </button>
    </div>  
    </span>
  {{!-- Ethereum Total --}}
  <div id="coin-total">
     <img class="coin-size"src="/images/ethereumLogo.jpeg"> </span>
      <form >
        <input class="coin-input" type="number" name="quantity"> 
        <span class="message1"></span> 
      </form>
   
    <button class = "btn-delete" onclick= "delete-button"> Delete </button>
    </div>  

    {{!-- Litecoin --}}
  <div id="coin-total">
     <img class="coin-size" src="/images/litecoinLogo.png"> </span>
      <form >
        <input class="coin-input" type="number" name="quantity"> 
      </form>
   
    <button class = "btn-delete" onclick= "delete-button"> Delete </button>
    </div>  

{{!-- Ethereum  --}}
  <div id="coin-total">
     <img class="coin-size" src="/images/xrp.png"> </span>
      <form >
        <input class="coin-input" type="number" name="quantity"> 
      </form>
   
    <button class = "btn-delete" onclick= "delete-button"> Delete </button>
    </div>  

  </div>
</div>
  

<button class ="btn-success" type="button" onclick=sumProducts()> Sum </button>



</body> --}}